<td><a href="#" class="link toggle-user"><i class="icon-off text-success"></i></a></td>
<td><span class="display-name"></span></td>
<td><span class="email"></span></td>
<td><a href="#" class="link delete-user"><i class="icon-trash text-error"></i></a></td>
