<div class="alert-region"></div>
<table id="user-table" class="table table-striped table-hover">
	<thead>
	<tr>
		<th></th>
		<th>Display Name</th>
		<th>Primary Email</th>
		<th></th>
	</tr>
	<tr>
		<th></th>
		<th colspan="3">
			<form class="form-inline">
				<input type="text" name="new-user-email" class="span9" placeholder="email address">
				<button class="btn-small btn-success" type="submit">Add User</button>
			</form>
		</th>
	</tr>
	</thead>
	<tbody id="user-list-view"></tbody>
</table>
