@(error: String = null)
@layouts.base("Orchard Login", "login") {
	<div class="container login-page">
		<div class="row">

			<form class="span5 offset2 form-horizontal" method="post"
			action="@controllers.routes.Auth.adminLogin">
				<h2 class="text-center">Admin Login</h2>

				<div class="control-group">
					<label class="control-label" for="password">Password: </label>
					<div class="controls">
						<input type="password" class="input-large" id="password"
							name="password">
						<span class="help-block">@if( null != error ) { @error }</span>
					</div>
				</div>

				<div class="form-actions">
					<button class="btn btn-large btn-primary" type="submit">Sign in</button>
				</div>
			</form>
		</div>
	</div>
}
