@(loginForm: play.data.Form[models.LoginForm])
@layouts.base("Orchard Login", "login") {
	<div class="container login-page">
		<div class="row">
		@helper.form(controllers.routes.Auth.sendToken, 'id -> "loginForm", 'class -> "span5 offset2 form-horizontal") {
			<h2 class="text-center">Orchard Login</h2>

			@defining(loginForm("email")) { field =>
				<div class="control-group @if(!field.errors().isEmpty){error}">
					<label class="control-label" for="email">Email Address</label>
					<div class="controls">
						<input type="text" class="input-large" id="email" name="@field.name" value="@field.value">
						<span class="help-block">@field.errors().map(m => Messages(m.message)).mkString(",")</span>
					</div>
				</div>
			}
			@defining(loginForm("rememberMe")) { field =>
				<div class="control-group">
					<label class="control-label" for="rememberMe">Remember Me</label>
					<div class="controls">
						<div class="switch">
							<input type="checkbox" id="rememberMe" name="@field.name">
						</div>
					</div>
				</div>
			}
			<div class="form-actions">
				<button class="btn btn-large btn-primary" type="submit">Sign in</button>
			</div>
		}
		</div>
	</div>
}
