<div class="topic-title-line">
	<span class="pull-right">by <span name="author"></span></span>
	<p class="lead"><span class="icon-exclamation-sign topic-updated"></span>
		<a name="title"></a></p>
</div>
<div class="topic-info-line">
	last post on <span class="thread-updated-on">
		0000-00-00 00:00:00 PDT</span>
	by <span class="thread-updated-by">Comment Author</span>
</div>
