<form class="form-horizontal">
	<div class="alert-region"></div>
	<textarea class="codemirror input-block-level" name="reply-text"></textarea>
	<div class="form-actions">
		<button type="button" class="btn save btn-success" data-loading-text="Saving...">Submit</button>
	</div>
</form>
