<form class="form-horizontal">
	<textarea class="codemirror" name="reply-text"></textarea>
</form>

<script type="text/html">
	<form class="form-horizontal">
		<div id="editor-view"></div>
		<div class="alert-region"></div>
		<button type="button" class="btn js-submit-reply btn-success">Submit</button>
	</form>
</script>
