.thread-updated {
	color: red;
}

.thread-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.login-page {
	margin-top: 60px;
}

.post-tabs {
	margin-bottom: -1px;
}

.post-tab-content {
	height: 350px;
	border: 1px solid #DDD;
	padding-top: 2px;

	.tab-pane {
		height: 100%;
	}

	.preview-pane {
		background-color: white;
		font-size: 16px;
		padding: 0 3px;
	}
}


#create-thread-form {
	input[name='title'] {
		font-size: 125%;
		margin-bottom: 15px;
	}
}